{% extends "base.html" %}
{% block head_css %}

<!--[if lt IE 9]>
<![endif]-->
{% if DEBUG %}
<link rel="stylesheet/less" href="{{ STATIC_URL }}less/base.less" type="text/css" />
<link rel="stylesheet/less" href="{{ STATIC_URL }}less/pagelets.less" type="text/css" />
<script src="{{ STATIC_URL }}js/lib/less.js"></script>
{% else %} 
{#}if base.css gets big, use link instead of include{#}
<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" />
{#}
<style>
{% include "base.css" %}
</style>
{#}
{% endif %}
{% endblock %}


{% block head_js %}
{#}NON-BIGPIPE JS LOAD USING REQUIRE JS{#}
<script data-main="{{ STATIC_URL }}js/main" >

</script>
{% endblock %}
{# =============== HEAD END =============== #}

{% block body_class %}{% endblock %}
{% block body_content %}
{# <div id="testpagelet">
	Place pagelet here
</div> #}

{% endblock %}