{% extends "email_templates/inc_email_base.html" %}


{% block title %} {{ _("Email Verification") }} {% endblock %}


{% block description %}
	<p>{{ _("Verify this email account.") }}</p>
{% endblock %}


{% block body %}

<td colspan="2">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
	
	<td width="17%"></td>
	
	<td align="left">
		<b><font size="2" color="#988162">
		{{ _("Please click this") }} <a href="http://{{ addr }}">{{ _("link") }}</a> {{ _("to verify ") }}{{email_address}}.<br>
		</p>
		<p>
		{{ _("We hope you will enjoy site!") }}
		</p>
		<p>
		{{ _("Sincerely,<br><br>The site Team") }}
		</p>	</font></b>
	</td>
	
	</tr>
</table>

</td>


 


{% endblock %}

