{% extends "base.html" %}


{% block title %}{{ _("Landing Page") }}{% endblock %}

{% block body_class %}userprofile{% endblock %}

{% block main_id_prefix %}new_project_{% endblock %}

{% block main_class %}new_project_{% endblock %}

{% block header_id_prefix %}new_project_{% endblock %}

{% block header_content %}
<div class="landing_header_inner">
    <h1>user profile home</h1>
</div>
{% endblock %}

{% block body_id_prefix %}new_project_{% endblock %}

{% block body_content %}
    {% block user_profile_content %}
    {% endblock %}
{% endblock %}