
{% if msg != '' %}
    {{ msg }}
{% else %}
<style>
    .signup_title {background:url({{ STATIC_URL }}images/font_sprite_{{ _('en' ) }}.png) no-repeat -2px -156px; width:80px; height:26px; overflow:hidden; display:block; margin-bottom:4px;}
</style>
<form id="signup_form" class="form_style_2" method="post" action="{% url ajax-process-sign-up-form %}">
<h2 class="hide_txt signup_title">{{ _("Sign Up") }}</h2>
	{% csrf_token %}
	{% autoescape false %}
    <div class="row">
        <!-- input type="text" name="" value="User Name" class="txt" /-->
        {{ registration_form.username }}
        {{ registration_form.username.errors }}
    </div>
    <div class="row">
        <!-- input type="text" name="" value="Email Address" class="txt" /-->
        {{ registration_form.email }}
        {{ registration_form.email.errors }}
    </div>
    <div class="row">
        <!-- input type="text" name="" value="Password" class="txt" /-->
        {{ registration_form.password }}
        {{ registration_form.password.errors }}
    </div>
    <div class="row">
        <!-- input type="text" name="" value="Confirm password" class="txt" /-->
        {{ registration_form.password_confirm }}
        {{ registration_form.password_confirm.errors }}
    </div>
    {% endautoescape %}
    <!-- 
    <label class="chkbox"><input type="checkbox" name="" value="" /> <span>{{ _("Share my place recommendation with site communtiy any public") }}</span></label>
    <label class="chkbox"><input type="checkbox" name="" value="" /> <span>{{ _("Allow friends to find you") }}</span></label>
    <label class="chkbox"><input type="checkbox" name="accept_terms" value="" checked /> <span>{{ _("Accept Terms &amp; Privacy Policy") }}</span></label>
     -->
    <div class="desc">
        {{ _("By signing up, you have agreed to example.com's privacy agreement and terms of services") }}.
    </div>
    <div class="btn_group_r">
		<input id="submit_registration" type="button" value="{{ _('SIGN UP' ) }}" class="btn_1_m fR" />
	</div>
</form>

<script type="text/javascript">
{% minifyjs %}
$(document).ready(function(){
 	var signup_fields = [];
	signup_fields[0] = new Site.DefaultValueField($('#id_username'), "{{ _('Username' ) }}");
	signup_fields[1] = new Site.DefaultValueField($('#id_email'), "{{ _('Email address' ) }}");
	signup_fields[2] = new Site.DefaultValueField($('#id_password'), "{{ _('Password' ) }}");
	signup_fields[3] = new Site.DefaultValueField($('#id_password_confirm'), "{{ _('Confirm password' ) }}");
	
	var fm = $('#signup_form');
	fm.find("input:checkbox").autoConvertUI({
        type: "checkbox",
        hook_event_1: function() {
            // callback function write here
        }
    });
	$('#submit_registration').click(function(){
		for (var i=0; i<signup_fields.length; i++){
			if (signup_fields[i].isDefault()){
				signup_fields[i].input_field.val('');
			}
		}

		$.ajax({
            url: '/registration/ajax/process_sign_up_form/',
            type: "POST",
            data: {
            	username: $('#id_username').val(),
            	email: $('#id_email').val(),
            	password: $('#id_password').val(),
            	password_confirm: $('#id_password_confirm').val(),
            	template_type: 'landing'
            },
            dataType: "json",
            success: function(data){
               	$('#signup_form_holder').prepend(data['html']);
                fm.remove();
                if (data['registration_id']!=''){
                	$.ajax({
                		url: '/registration/ajax/send_activation_mail/'+data['registration_id']+'/',
                        type: "POST"
                	});
                }
            }
        });
	});
});
{% endminifyjs %}
</script>
{% endif %}