{% extends "new_base.html" %}


{% block bodyclass %}index{% endblock %}

{% block main_header %}
{% endblock %}

{% block search %}
{% endblock %}
{% block function %}
{% endblock %}

{% block main %}
<div id="main_body">
    <div class="eq_row">
        <div class="col_main">
			<div id="index_feature_gallery" class="ui_feature_gallery">
				<div id='gallery_switch'></div>
				<!-- en -->
				<ul class='{{ _("en") }}'>
					<li class="p{{pic_num}}">
						<img src="" alt="" />
						{#% comment %}
						<img src="{{ STATIC_URL }}images/index_promo/p{{pic_num}}.jpg" alt="" />
						<div class="bd">
							<h2>{{ _("Go Out.<br />Celebrate.") }}</h2>
							<h3>
								<div class="txt">
									{{ _("Your next <strong>Great Moment</strong> Starts <b>Here.</b>") }}
								</div>
								<div class="arrow"></div>
							</h3>
						</div>
						{% endcomment %#}
					</li>                                                           
				</ul>
				<div class="bg"></div>
			</div>
        </div>
		
        <div class=col_gap></div>
		
		<div class="col_right">
			<div class="table">
				<div class="row_1">
					<div class="ui_connect_social">
						<div class="connect">
							<div class="bd">
								<h2 class="hide_txt connect_title" style="background:url({{ STATIC_URL }}images/font_sprite_{{ _('en' ) }}.png) no-repeat -92px -156px; width:149px; height:26px; overflow:hidden; display:block; margin-bottom:4px;">Connect With...</h2>
								<ul>
								    <li><a href="{% url weibo-connect %}" id="weibo_button" class="btn_weibo_l"></a></li>
									<li><input id="fb_button" type="button" class="btn_fb_l" /></li>
								</ul>
							</div>
							<span class="bg"></span>
						</div>
					</div>
				</div>
				<div class="row_2"></div>
				<div class="row_3">
					<div class="ui_site_signup">
						<div class="signup">
							<div id="signup_form_holder" class="bd">
								
							</div>
							<div class="bg"></div>
						</div>
						<script type="text/javascript">
						{% minifyjs %}
							$(document).ready(function() {
                                
                                var gallery_r = ranNum(15,16);
                                var index_feature_gallery_li = $("#index_feature_gallery").find("li");
                                
                                index_feature_gallery_li.attr("class", "p"+gallery_r + "_" + '{{ _("en") }}' +".png");
                                var index_feature_gallery_img = $("#index_feature_gallery").find("img");
                                index_feature_gallery_img.attr("src", "{{ STATIC_URL }}images/index_promo/p"+gallery_r+"_" + '{{ _("en") }}' +".png");                                
                                
								$('#gallery_switch').bind('click', function(){
									if (gallery_r == 16){
										gallery_r = 15;
									}
									else{
										++gallery_r;
									}
									index_feature_gallery_img.attr("src", "{{ STATIC_URL }}images/index_promo/p"+gallery_r+"_" + '{{ _("en") }}' +".png");
									setTimeout( '$("#gallery_switch").trigger("click")', 10000);
								});
								setTimeout( '$("#gallery_switch").trigger("click")', 10000);
								
								
								$("#signup_form").find("input:checkbox").autoConvertUI({
									type: "checkbox",
									hook_event_1: function() {
										// callback function write here
									}
								});
								$.ajax({
									url: '/registration/ajax/process_sign_up_form/',
									type: "GET",
									data: {
										'template_type': 'landing'
									},
									dataType: "html",
									success: function(data){
									   $('#signup_form_holder').html(data);
									}
								});
								{% for message in messages %}
								{% if 'facebook' in message.tags.split%}
									autoShowDialogAjax({'url':'{% url regist-input-username %}',
														'data':{username:'{{message}}'}});
									// alertTxt('{{message.tags}}');									
								{% endif %}
								{% endfor %}
							});
							
						{% endminifyjs %}
                        </script>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endblock %}
