.orange_bar_loading{
    background: url('/static/images/orange_bar_loading.gif') no-repeat;
    width: 16px;
    height: 11px;
}


.black_bar_loading{
    background: url('/static/images/black_bar_loading.gif') no-repeat;
    width: 16px;
    height: 11px;
}

.green_bar_loading{
    background: url('/static/images/green_bar_loading.gif') no-repeat;
    width: 16px;
    height: 11px;
}

.green_circle_loading{
    background: url('/static/images/green_circle_loading.gif') no-repeat;
    width: 32px;
    height: 32px;
}

.black_circle_loading{
    background: url('/static/images/black_circle_loading.gif') no-repeat center;
    width: 32px;
    height: 32px;
}

.isLoading{
    text-align: center;
    padding-top:50%;
    &:before{
        content:'';
        display: inline-block;
        @extend .black_circle_loading;
    }
}


// Add a loading mask
.coverLoadingMask{
    position: relative;
    &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content:'';
        display: block;
        background: rgba(0,0,0,.15);
        z-index: 10;
        top:0px;
        left:0px;
    }
    &:after{
        position: absolute;
        left: 50%;
        top: 50%;
        content:'';
        display: block;
        @extend .black_circle_loading;
        z-index: 20;
    }
}