$site-color: #29547A;
$menu-color: #ccc;
$block-color: #f1f1f1;

$op_green: #5096A6;
$op_red: #EA644A;

$link_blue: #4183c4;
$link_black: #333;

// Highlight
$hl-color: white;
$bd-color: #ddd;


$color1: #6d9600;
$color3: #a0bf5d;
$color4: #222222;
$color5: #666666;
$color6: #dee7c1;

// Screen Size
$main_max_width: 1140px;
$main_min_width: 755px;

$main_width_1: 1024px;

// Screen Size
$space: 5px;


// Font Family
$font_family: "Helvetica Neue",Helvetica,Arial,sans-serif;