$site-color: #29547A;
$menu-color: #ccc;
$block-color: #f1f1f1;
// Highlight
$hl-color: white;


$color1: #6d9600;
$color3: #a0bf5d;
$color4: #222222;
$color5: #666666;
$color6: #dee7c1;

// Screen Size
$main_max_width: 1140px;
$main_min_width: 755px;

$main_width_1: 1024px;

html{
    width:100%;
    height:100%;
    overflow-y: scroll;
    background: white;
}


body{
    width:100%;
    height:100%;
    font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, monospace, sans-serif;
    
}
body.loading{
    opacity: 0;
}
body.signup{
    #header {
        display: none;
    }
}

h2{
    
}

input {
    font-family: Myriad Pro;
}

.error{
    color: rgb(206, 48, 48);
}


.ng-view{
    height:100%;
    width:100%;
}

@mixin gradient1(){
    background-color: #2d2d2d;
    border-bottom: 1px solid #000;
    // background: #444444; /* Old browsers */
    // /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    // background: -moz-linear-gradient(top,  #444444 0%, #333333 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  #444444 0%,#333333 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  #444444 0%,#333333 100%); /* IE10+ */
    // background: linear-gradient(to bottom,  #444444 0%,#333333 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-8 */
}

@mixin gradient2(){
    background: rgb(160,191,93); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(160,191,93,1) 0%, rgba(109,150,0,1) 50%, rgba(160,191,93,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(160,191,93,1)), color-stop(50%,rgba(109,150,0,1)), color-stop(100%,rgba(160,191,93,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(160,191,93,1) 0%,rgba(109,150,0,1) 50%,rgba(160,191,93,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(160,191,93,1) 0%,rgba(109,150,0,1) 50%,rgba(160,191,93,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(160,191,93,1) 0%,rgba(109,150,0,1) 50%,rgba(160,191,93,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(160,191,93,1) 0%,rgba(109,150,0,1) 50%,rgba(160,191,93,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0bf5d', endColorstr='#a0bf5d',GradientType=1 ); /* IE6-9 */
    @include box-shadow(rgba(0,0,0,0.4) 0px 1px 0px inset);
}



@mixin btn1(){
    @include user_select();
    border: solid 1px #bbbbbb;
    @include border-radius(3px);
    @include box-shadow(rgba(255,255,255,0.5) 0px 1px 0px,white 0px 1px 0px inset);
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

    &.active, &:active{
        background: #eeeeee; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


    }
}

@mixin btn2(){
    border: solid 1px #222222;
    @include border-radius(5px);
    @include box-shadow(rgba(white,0.5) 0px 1px 0px);
    background: #eeeeee; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
    
    &.active, &:active{
        background: #cccccc; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

    }

}

@mixin btn3(){
    @include user_select();
    border: 1px solid #c6c6c6;
    @include border-radius(3px);
    @include box-shadow(rgba(0,0,0,0.1) 0px 1px 1px);
    @include background(linear-gradient(top, #f8f8f8, #f1f1f1));

    &.active, &:active{
    }
}

@mixin text-btn-3() {
    @include btn3();
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    padding: 9px 22px;
    min-width: 53px;
    text-align: center;
    color: #666;
    display: inline-block;
    position: relative;
    font-family: Myriad Pro;
    &:hover {
        color: #333;
    }
    &.disabled {
        opacity: 0.5;
        &:active {
            background: gray;
        }
    }
}

.text-btn-3 {
    @include text-btn-3();
    padding: 5px 16px;
}

#header{
    height:35px;
    // position:fixed;
    top:0px;
    left:0px;
    width:100%;
    @include box-shadow(black 0 1px 0 inset, rgba($color4, 0.2) 0 2px 0);
    @include gradient1();
    z-index: 100;
    .inner{
        width: $main_width_1;
        margin:0 auto;
        padding:0 11px;
        .left{
            float:left;
            padding-left:10px;
            .logo{
                margin-top:8px;
                display:inline-block;
                @extend .icons-logo;
            }
        }
        .right{
            float:right;
            .navigation{
                overflow:hidden;
                .nav{
                    float:left;
                    color: $menu-color;
                    text-shadow: 0px -1px 0px black;
                    cursor: pointer;
                    font-size:12px;
                    line-height:13px;
                    padding:0 20px;
                    border-left:solid 1px $color5;
                    height:13px;
                    margin-top:12px;
                    vertical-align:top;
                    position: relative;
                    .txt{
                        position: relative;
                    }
                    &.menu{
                        .txt:before{
                            position: absolute;
                            content:'';
                            @include arrow_down(5px,5px, $hl-color);
                            top:4px;
                            right:-20px;

                        }
                    }
                    &:first-child{
                        border-left:none;
                    }
                    &:hover{
                        color:$hl-color;
                    }
                }
            }
        }
    }
}
#pageContent{
    height:100%;
    width:100%;
    display: table;

}
#viewContent{
    display: table-row;
    position:relative;
    
    #viewContentInner{
        display: table-cell;
        position: relative;
        width:100%;
        height:100%;
        
    }
}

#footer{
    width:100%;
    height:34px;
    display: table-row;
    @include gradient1();
    .inner{
        display: table-cell;
        
        .wrapper{
            width: $main_width_1;
            margin:0 auto;
            padding:0 11px;
            .left{
                float:left;
                .links{
                    overflow:hidden;
                    a:link { color:white; text-decoration:none; }
                    a:visited{ color:white; text-decoration:underline; }
                    a:hover{ color:$hl-color; text-decoration:underline; }
                    a:active{ color:white; text-decoration:none; }
                    .link{
                        float:left;
                        color:white;
                        line-height:34px;
                        padding:0px 8px;
                        cursor:pointer;
                    }
                }
            }
            .right{
                float:right;
                color:white;
                line-height:34px;
            }
        }
    }
}



.searchInput{
    @include gradient2();
    width: 100%;
    height: 41px;
    padding:8px;
    position: relative;
    input{
        border: solid 1px #476300;
        @include border-radius(5px);
        @include box-shadow(rgba(255,255,255,0.3) 0px 1px 0px, rgba(0,0,0,0.3) 0px 2px 5px inset);
        height: 100%;
        width:100%;
        color:#aaaaaa;
        font-size: 12px;
        padding-left: 23px;
        vertical-align: bottom;
    }
    &:before{
        content:'';
        position: absolute;
        display: inline-block;
        @extend .icons-search_icon;
        top:13px;
        left:13px;
    }

}

.fileinput-button {
    position: relative;
    overflow: hidden;
    input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        border: solid transparent;
        border-width: 0 0 100px 200px;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-transform: translate(-300px, 0) scale(4);
        direction: ltr;
        cursor: pointer;
    }
}

.icon_loading{
    background: url('/static/images/loading2.gif') no-repeat;
    width: 16px;
    height: 11px;
}

.icon_loading3{
    background: url('/static/images/loading3.gif') no-repeat;
    width: 16px;
    height: 11px;
}

.icon_loading4{
    background: url('/static/images/loading4.gif') no-repeat;
    width: 32px;
    height: 32px;
}

.icon_loading5{
    background: url('/static/images/loading5.gif') no-repeat center;
    width: 32px;
    height: 32px;
}

.isLoading{
    text-align: center;
    padding-top:50%;
    &:before{
        content:'';
        display: inline-block;
        @extend .icon_loading5;
    }
}



