/*
    https://github.com/murtaugh/HTML5-Reset
    HTML5 Reset :: style.css
    ----------------------------------------------------------
    We have learned much from/been inspired by/taken code where offered from:
    
    Eric Meyer                  :: http://ericmeyer.com
    HTML5 Doctor                :: http://html5doctor.com
    and the HTML5 Boilerplate   :: http://html5boilerplate.com
    
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
/* line 16, ../sass/reset.scss */
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 33, ../sass/reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
/* line 40, ../sass/reset.scss */
img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
/* line 43, ../sass/reset.scss */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
    don't forget to restore the bullets within content. */
/* line 47, ../sass/reset.scss */
ul {
  list-style: none;
}

/* line 49, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 54, ../sass/reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 56, ../sass/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 58, ../sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 60, ../sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
/* line 63, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 64, ../sass/reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom;
}

/* line 65, ../sass/reset.scss */
td {
  font-weight: normal;
  vertical-align: top;
}

/* line 67, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 69, ../sass/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 71, ../sass/reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 78, ../sass/reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 79, ../sass/reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

/* line 80, ../sass/reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 82, ../sass/reset.scss */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 84, ../sass/reset.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* Accessible focus treatment
    people.opera.com/patrickl/experiments/keyboard/test */
/* line 88, ../sass/reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 90, ../sass/reset.scss */
small {
  font-size: 85%;
}

/* line 92, ../sass/reset.scss */
strong, th {
  font-weight: bold;
}

/* line 94, ../sass/reset.scss */
td, td {
  vertical-align: top;
}

/* line 95, ../sass/reset.scss */
img {
  vertical-align: middle;
}

/* Make sure sup and sub don't screw with your line-heights
    gist.github.com/413930 */
/* line 99, ../sass/reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 100, ../sass/reset.scss */
sup {
  top: -0.5em;
}

/* line 101, ../sass/reset.scss */
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
/* line 104, ../sass/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
/* line 111, ../sass/reset.scss */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 114, ../sass/reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 116, ../sass/reset.scss */
textarea:focus, input:focus {
  outline: none;
}

/* make buttons play nice in IE */
/* line 121, ../sass/reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
/* line 124, ../sass/reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
/* line 127, ../sass/reset.scss */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
/* line 130, ../sass/reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 131, ../sass/reset.scss */
.clearfix:after {
  clear: both;
}

/* line 132, ../sass/reset.scss */
.clearfix {
  zoom: 1;
}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
/* line 140, ../sass/reset.scss */
body {
  font: 12px Helmet, Freesans, sans-serif;
}

/* using local fonts? make sure to read up on Paul Irish's 
    Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
/* line 146, ../sass/reset.scss */
body, select, input, textarea {
  color: #333;
}

/* line 150, ../sass/reset.scss */
a:link {
  color: black;
  text-decoration: none;
}

/* line 151, ../sass/reset.scss */
a:visited {
  color: black;
  text-decoration: none;
}

/* line 152, ../sass/reset.scss */
a:hover {
  color: black;
  text-decoration: underline;
}

/* line 153, ../sass/reset.scss */
a:active {
  color: black;
  text-decoration: none;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/*  j.mp/webkit-tap-highlight-color */
/* line 160, ../sass/reset.scss */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

/* line 162, ../sass/reset.scss */
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

/* line 163, ../sass/reset.scss */
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Print styles!
-------------------------------------------------------------------------------*/
/* Media queries!
-------------------------------------------------------------------------------*/
/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@-webkit-keyframes fadeIn {
  /* line 105, ../sass/mixins.scss */
  0% {
    display: none;
    opacity: 0;
  }

  /* line 109, ../sass/mixins.scss */
  1% {
    display: block;
    opacity: 0;
  }

  /* line 113, ../sass/mixins.scss */
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 105, ../sass/mixins.scss */
  0% {
    display: none;
    opacity: 0;
  }

  /* line 109, ../sass/mixins.scss */
  1% {
    display: block;
    opacity: 0;
  }

  /* line 113, ../sass/mixins.scss */
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 105, ../sass/mixins.scss */
  0% {
    display: none;
    opacity: 0;
  }

  /* line 109, ../sass/mixins.scss */
  1% {
    display: block;
    opacity: 0;
  }

  /* line 113, ../sass/mixins.scss */
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 105, ../sass/mixins.scss */
  0% {
    display: none;
    opacity: 0;
  }

  /* line 109, ../sass/mixins.scss */
  1% {
    display: block;
    opacity: 0;
  }

  /* line 113, ../sass/mixins.scss */
  100% {
    display: block;
    opacity: 1;
  }
}

/* line 20, ../sass/common.scss */
html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: white;
}

/* line 28, ../sass/common.scss */
body {
  width: 100%;
  height: 100%;
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, monospace, sans-serif;
}

/* line 34, ../sass/common.scss */
body.loading {
  opacity: 0;
}

/* line 38, ../sass/common.scss */
body.signup #header {
  display: none;
}

/* line 47, ../sass/common.scss */
input {
  font-family: Myriad Pro;
}

/* line 51, ../sass/common.scss */
.error {
  color: #ce3030;
}

/* line 56, ../sass/common.scss */
.ng-view {
  height: 100%;
  width: 100%;
}

/* line 187, ../sass/common.scss */
.text-btn-3 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  padding: 9px 22px;
  min-width: 53px;
  text-align: center;
  color: #666;
  display: inline-block;
  position: relative;
  font-family: Myriad Pro;
  padding: 5px 16px;
}
/* line 176, ../sass/common.scss */
.text-btn-3:hover {
  color: #333;
}
/* line 179, ../sass/common.scss */
.text-btn-3.disabled {
  opacity: 0.5;
}
/* line 181, ../sass/common.scss */
.text-btn-3.disabled:active {
  background: gray;
}

/* line 192, ../sass/common.scss */
#header {
  height: 35px;
  top: 0px;
  left: 0px;
  width: 100%;
  -webkit-box-shadow: black 0 1px 0 inset, rgba(34, 34, 34, 0.2) 0 2px 0;
  -moz-box-shadow: black 0 1px 0 inset, rgba(34, 34, 34, 0.2) 0 2px 0;
  box-shadow: black 0 1px 0 inset, rgba(34, 34, 34, 0.2) 0 2px 0;
  background-color: #2d2d2d;
  border-bottom: 1px solid black;
  z-index: 100;
}
/* line 201, ../sass/common.scss */
#header .inner {
  width: 1024px;
  margin: 0 auto;
  padding: 0 11px;
}
/* line 205, ../sass/common.scss */
#header .inner .left {
  float: left;
  padding-left: 10px;
}
/* line 208, ../sass/common.scss */
#header .inner .left .logo {
  margin-top: 8px;
  display: inline-block;
}
/* line 214, ../sass/common.scss */
#header .inner .right {
  float: right;
}
/* line 216, ../sass/common.scss */
#header .inner .right .navigation {
  overflow: hidden;
}
/* line 218, ../sass/common.scss */
#header .inner .right .navigation .nav {
  float: left;
  color: #cccccc;
  text-shadow: 0px -1px 0px black;
  cursor: pointer;
  font-size: 12px;
  line-height: 13px;
  padding: 0 20px;
  border-left: solid 1px #666666;
  height: 13px;
  margin-top: 12px;
  vertical-align: top;
  position: relative;
}
/* line 231, ../sass/common.scss */
#header .inner .right .navigation .nav .txt {
  position: relative;
}
/* line 235, ../sass/common.scss */
#header .inner .right .navigation .nav.menu .txt:before {
  position: absolute;
  content: '';
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  display: block;
  height: 0;
  width: 0;
  top: 4px;
  right: -20px;
}
/* line 244, ../sass/common.scss */
#header .inner .right .navigation .nav:first-child {
  border-left: none;
}
/* line 247, ../sass/common.scss */
#header .inner .right .navigation .nav:hover {
  color: white;
}

/* line 255, ../sass/common.scss */
#pageContent {
  height: 100%;
  width: 100%;
  display: table;
}

/* line 261, ../sass/common.scss */
#viewContent {
  display: table-row;
  position: relative;
}
/* line 265, ../sass/common.scss */
#viewContent #viewContentInner {
  display: table-cell;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 274, ../sass/common.scss */
#footer {
  width: 100%;
  height: 34px;
  display: table-row;
  background-color: #2d2d2d;
  border-bottom: 1px solid black;
}
/* line 279, ../sass/common.scss */
#footer .inner {
  display: table-cell;
}
/* line 282, ../sass/common.scss */
#footer .inner .wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 0 11px;
}
/* line 286, ../sass/common.scss */
#footer .inner .wrapper .left {
  float: left;
}
/* line 288, ../sass/common.scss */
#footer .inner .wrapper .left .links {
  overflow: hidden;
}
/* line 290, ../sass/common.scss */
#footer .inner .wrapper .left .links a:link {
  color: white;
  text-decoration: none;
}
/* line 291, ../sass/common.scss */
#footer .inner .wrapper .left .links a:visited {
  color: white;
  text-decoration: underline;
}
/* line 292, ../sass/common.scss */
#footer .inner .wrapper .left .links a:hover {
  color: white;
  text-decoration: underline;
}
/* line 293, ../sass/common.scss */
#footer .inner .wrapper .left .links a:active {
  color: white;
  text-decoration: none;
}
/* line 294, ../sass/common.scss */
#footer .inner .wrapper .left .links .link {
  float: left;
  color: white;
  line-height: 34px;
  padding: 0px 8px;
  cursor: pointer;
}
/* line 303, ../sass/common.scss */
#footer .inner .wrapper .right {
  float: right;
  color: white;
  line-height: 34px;
}

/* line 314, ../sass/common.scss */
.searchInput {
  background: #a0bf5d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a0bf5d 0%, #6d9600 50%, #a0bf5d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #a0bf5d), color-stop(50%, #6d9600), color-stop(100%, #a0bf5d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a0bf5d 0%, #6d9600 50%, #a0bf5d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a0bf5d 0%, #6d9600 50%, #a0bf5d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a0bf5d 0%, #6d9600 50%, #a0bf5d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #a0bf5d 0%, #6d9600 50%, #a0bf5d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0bf5d', endColorstr='#a0bf5d',GradientType=1 );
  /* IE6-9 */
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px inset;
  width: 100%;
  height: 41px;
  padding: 8px;
  position: relative;
}
/* line 320, ../sass/common.scss */
.searchInput input {
  border: solid 1px #476300;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px, rgba(0, 0, 0, 0.3) 0px 2px 5px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px, rgba(0, 0, 0, 0.3) 0px 2px 5px inset;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px, rgba(0, 0, 0, 0.3) 0px 2px 5px inset;
  height: 100%;
  width: 100%;
  color: #aaaaaa;
  font-size: 12px;
  padding-left: 23px;
  vertical-align: bottom;
}
/* line 331, ../sass/common.scss */
.searchInput:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 13px;
  left: 13px;
}

/* line 342, ../sass/common.scss */
.fileinput-button {
  position: relative;
  overflow: hidden;
}
/* line 345, ../sass/common.scss */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}

/* line 360, ../sass/common.scss */
.icon_loading {
  background: url("/static/images/loading2.gif") no-repeat;
  width: 16px;
  height: 11px;
}

/* line 366, ../sass/common.scss */
.icon_loading3, #signupWrap .panel .sending-wrap:before, #signupWrap .method-wrap .txt span.loading:before {
  background: url("/static/images/loading3.gif") no-repeat;
  width: 16px;
  height: 11px;
}

/* line 372, ../sass/common.scss */
.icon_loading4 {
  background: url("/static/images/loading4.gif") no-repeat;
  width: 32px;
  height: 32px;
}

/* line 378, ../sass/common.scss */
.icon_loading5, .isLoading:before {
  background: url("/static/images/loading5.gif") no-repeat center;
  width: 32px;
  height: 32px;
}

/* line 384, ../sass/common.scss */
.isLoading {
  text-align: center;
  padding-top: 50%;
}
/* line 387, ../sass/common.scss */
.isLoading:before {
  content: '';
  display: inline-block;
}

/* line 4, ../sass/signup.scss */
body.signup #footer .inner .wrapper {
  width: 100%;
}

/* line 11, ../sass/signup.scss */
#signupWrap {
  text-align: center;
  padding-top: 40px;
  min-height: 300px;
  height: 100%;
  width: 100%;
  color: #888;
}
/* line 19, ../sass/signup.scss */
#signupWrap .pageContainer {
  width: 312px;
  text-align: center;
  display: inline-block;
}
/* line 24, ../sass/signup.scss */
#signupWrap .panel {
  padding: 25px;
  border: 1px solid #dddddd;
  width: 312px;
  display: inline-block;
  margin-top: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px -2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px -2px;
}
/* line 26, ../sass/signup.scss */
#signupWrap .panel.showError .error {
  display: block;
}
/* line 30, ../sass/signup.scss */
#signupWrap .panel .error {
  display: none;
}
/* line 32, ../sass/signup.scss */
#signupWrap .panel .error.show {
  display: block;
}
/* line 43, ../sass/signup.scss */
#signupWrap .panel .title {
  font-size: 21px;
  color: #29547a;
  font-family: Myriad Pro;
  margin-bottom: 10px;
}
/* line 49, ../sass/signup.scss */
#signupWrap .panel .body {
  text-align: left;
}
/* line 51, ../sass/signup.scss */
#signupWrap .panel .body input {
  width: 100%;
}
/* line 54, ../sass/signup.scss */
#signupWrap .panel .body .submitWrap {
  margin-top: 8px;
  text-align: center;
  position: relative;
}
/* line 58, ../sass/signup.scss */
#signupWrap .panel .body .submitWrap .btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #c6c6c6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  padding: 9px 22px;
  min-width: 53px;
  text-align: center;
  color: #666;
  display: inline-block;
  position: relative;
  font-family: Myriad Pro;
  width: 100px;
}
/* line 176, ../sass/common.scss */
#signupWrap .panel .body .submitWrap .btn:hover {
  color: #333;
}
/* line 179, ../sass/common.scss */
#signupWrap .panel .body .submitWrap .btn.disabled {
  opacity: 0.5;
}
/* line 181, ../sass/common.scss */
#signupWrap .panel .body .submitWrap .btn.disabled:active {
  background: gray;
}
/* line 64, ../sass/signup.scss */
#signupWrap .panel .sending-wrap {
  padding: 10px 0 0 22px;
  position: relative;
  display: inline-block;
}
/* line 69, ../sass/signup.scss */
#signupWrap .panel .sending-wrap:before {
  content: '';
  margin-right: 5px;
  position: absolute;
  left: 0;
  top: 12px;
}
/* line 78, ../sass/signup.scss */
#signupWrap .panel .activationComponents {
  height: 200px;
  font-size: 14px;
  text-align: left;
  margin-top: 30px;
}
/* line 83, ../sass/signup.scss */
#signupWrap .panel .activationComponents .emailAddr {
  font-size: 14px;
  text-align: center;
  color: #6d9600;
  margin: 6px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
/* line 90, ../sass/signup.scss */
#signupWrap .panel .activationComponents .resendBlock {
  margin-top: 40px;
}
/* line 93, ../sass/signup.scss */
#signupWrap .panel .activationComponents .resendVerificationBtn {
  margin-top: 40px;
  text-align: center;
}
/* line 96, ../sass/signup.scss */
#signupWrap .panel .activationComponents .resendVerificationBtn .resendVerification {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 1px #bbbbbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px, white 0px 1px 0px inset;
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-8 */
  display: inline-block;
  padding: 4px 10px;
}
/* line 106, ../sass/common.scss */
#signupWrap .panel .activationComponents .resendVerificationBtn .resendVerification.active, #signupWrap .panel .activationComponents .resendVerificationBtn .resendVerification:active {
  background: #eeeeee;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  /* IE6-8 */
}
/* line 105, ../sass/signup.scss */
#signupWrap .field {
  margin-top: 5px;
}
/* line 107, ../sass/signup.scss */
#signupWrap .field .label {
  font-size: 12px;
  color: #29547a;
}
/* line 111, ../sass/signup.scss */
#signupWrap .field input {
  width: 250px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px -1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px -1px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 5px -1px inset;
  margin: 5px 0 3px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 8px;
}
/* line 122, ../sass/signup.scss */
#signupWrap .field input::-webkit-input-placeholder {
  padding: 1px;
}
/* line 126, ../sass/signup.scss */
#signupWrap .field input:-moz-placeholder {
  /* Firefox 18- */
  padding: 1px;
}
/* line 130, ../sass/signup.scss */
#signupWrap .field input::-moz-placeholder {
  /* Firefox 19+ */
  padding: 1px;
}
/* line 134, ../sass/signup.scss */
#signupWrap .field input:-ms-input-placeholder {
  padding: 1px;
}
/* line 140, ../sass/signup.scss */
#signupWrap .page-foot {
  margin-top: 20px;
}
/* line 144, ../sass/signup.scss */
#signupWrap .method-wrap {
  margin-bottom: 30px;
}
/* line 146, ../sass/signup.scss */
#signupWrap .method-wrap .wrap {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
}
/* line 153, ../sass/signup.scss */
#signupWrap .method-wrap a:hover {
  text-decoration: none;
}
/* line 156, ../sass/signup.scss */
#signupWrap .method-wrap .txt {
  font-size: 12px;
  line-height: 12px;
  color: #888;
}
/* line 160, ../sass/signup.scss */
#signupWrap .method-wrap .txt span.loading {
  position: relative;
}
/* line 162, ../sass/signup.scss */
#signupWrap .method-wrap .txt span.loading:before {
  position: absolute;
  content: '';
  right: -25px;
  top: 2px;
}
/* line 171, ../sass/signup.scss */
#signupWrap .method-wrap .icon {
  cursor: pointer;
  margin-top: 7px;
  display: inline-block;
  vertical-align: middle;
}
/* line 191, ../sass/signup.scss */
#signupWrap .hlineLabel {
  text-align: center;
  width: 100%;
  height: 14px;
}
/* line 195, ../sass/signup.scss */
#signupWrap .hlineLabel .hline {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  border-top: solid 1px #cccccc;
  height: 1px;
}
/* line 202, ../sass/signup.scss */
#signupWrap .hlineLabel .txt {
  width: 22px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  color: #aaaaaa;
}

/* line 214, ../sass/signup.scss */
#loginForm .password-wrap {
  position: relative;
}
/* line 216, ../sass/signup.scss */
#loginForm .password-wrap .forgetPassword {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  background: #CCCCCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  right: 8px;
  top: 13px;
  cursor: pointer;
}
/* line 229, ../sass/signup.scss */
#loginForm .password-wrap .forgetPassword .forget-tip {
  opacity: 0;
  position: absolute;
  height: 0;
  overflow: hidden;
  background: #FAFFBD;
  color: #888;
  border: 1px solid #dddddd;
  padding: 5px 10px;
  right: -130px;
  top: -5px;
  -webkit-transition-property: height, opacity;
  -moz-transition-property: height, opacity;
  -o-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 0, 0.3s;
  -moz-transition-duration: 0, 0.3s;
  -o-transition-duration: 0, 0.3s;
  transition-duration: 0, 0.3s;
  -webkit-transition-delay: 0.5s, 0;
  -moz-transition-delay: 0.5s, 0;
  -o-transition-delay: 0.5s, 0;
  transition-delay: 0.5s, 0;
}
/* line 238, ../sass/signup.scss */
#loginForm .password-wrap .forgetPassword .forget-tip:hover {
  text-decoration: underline;
}
/* line 250, ../sass/signup.scss */
#loginForm .password-wrap .forgetPassword:hover .forget-tip {
  height: 33px;
  opacity: 1;
  -webkit-transition-property: height, opacity;
  -moz-transition-property: height, opacity;
  -o-transition-property: height, opacity;
  transition-property: height, opacity;
  -webkit-transition-duration: 0, 0.5s;
  -moz-transition-duration: 0, 0.5s;
  -o-transition-duration: 0, 0.5s;
  transition-duration: 0, 0.5s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}

/* line 264, ../sass/signup.scss */
#scLogo {
  display: inline-block;
  background: url(../images/sharecity.png) 0 0 no-repeat;
  width: 250px;
  height: 51px;
}

/* line 271, ../sass/signup.scss */
.hello {
  margin: 0;
}

/* line 1, ../sass/lightbox.scss */
.lightbox {
  display: none;
}
/* line 3, ../sass/lightbox.scss */
.lightbox .lightboxBg {
  z-index: 1001;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
/* line 15, ../sass/lightbox.scss */
.lightbox .lightboxBg .lightboxContent {
  margin: 0 auto;
}

/* line 22, ../sass/lightbox.scss */
.lightboxPadding {
  margin: 0 auto;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  width: 340px;
}
/* line 27, ../sass/lightbox.scss */
.lightboxPadding .lightboxHeader {
  overflow: hidden;
  background: #222222;
  height: 38px;
  width: 100%;
}
/* line 32, ../sass/lightbox.scss */
.lightboxPadding .lightboxHeader .title {
  text-align: center;
  width: 100%;
  color: white;
  height: 38px;
  line-height: 38px;
}
/* line 39, ../sass/lightbox.scss */
.lightboxPadding .lightboxHeader .closeBtn {
  cursor: pointer;
  color: white;
  border-left: 1px solid #444444;
  float: right;
  height: 38px;
  width: 38px;
  text-align: center;
}
/* line 40, ../sass/lightbox.scss */
.lightboxPadding .lightboxHeader .closeBtn:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
/* line 46, ../sass/lightbox.scss */
.lightboxPadding .lightboxHeader .closeBtn:after {
  content: '';
  vertical-align: middle;
  display: inline-block;
}
/* line 61, ../sass/lightbox.scss */
.lightboxPadding .lightboxBorder {
  border: 1px solid #222222;
}
/* line 64, ../sass/lightbox.scss */
.lightboxPadding .lightboxBody {
  min-height: 150px;
  background: white;
  text-align: center;
  position: relative;
}
/* line 66, ../sass/lightbox.scss */
.lightboxPadding .lightboxBody.text:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* line 79, ../sass/lightbox.scss */
.test {
  width: 300px;
  height: 500px;
  background: red;
}

/* line 2, ../sass/index.scss */
#mainView {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 10px auto;
  background: #f1f1f1;
}
