/* line 66, main-sprite/*.png */
.main-sprite-sprite, .main-sprite-icon_error, .main-sprite-icon_facebook_s, .main-sprite-icon_gold_star, .main-sprite-icon_mail {
  background: url('/images/main-sprite-sa1f25fcab6.png') no-repeat;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.main-sprite-icon_error {
  background-position: 0 -33px;
  height: 24px;
  width: 24px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.main-sprite-icon_facebook_s {
  background-position: 0 -57px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.main-sprite-icon_gold_star {
  background-position: 0 -11px;
  height: 22px;
  width: 23px;
}

/* line 60, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.main-sprite-icon_mail {
  background-position: 0 0;
  height: 11px;
  width: 14px;
}
