{% extends "base.html" %}
{% block body_content %}
<div id="login_signup_wrap">
    <div id="reset_password_wrap">
        <div class="center_content no_header">
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="header">{{ _('Reset Your Password') }}</div>
                <div class="body">
                    <div class="input_wrapper">
                        <input type="password" name="password" class="password" placeholder="{{_("Password")}}" value="" />
                    </div>
                    <div class="input_wrapper">
                        <input type="password" name="password_confirm" class="password_confirm" placeholder="{{_("Password Confirm")}}" value="" />
                    </div>

                    <div class="btn_wrapper">
                        <input type="submit" class="btn_act btn_reset_password fR" value="{{ _('RESET') }}"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="system_info_wrapper">
            <span class="system_info_icon"></span>
            <div class="system_info_text">{{ _("System Information") }}</div>
        </div>
        <div class="dark_bg bottom">
            <a href="/" class="btn_login fL">{{ _("Log In") }}</a>
        </div>
    </div>
</div>
{% endblock %}