<!DOCTYPE html>
<html ng-app={% block app_name %}"sc"{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex, nofollow">
    <title>{% block title %}{{ _("Share City") }}{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/app.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>

<body class="loading {% block bodyclass %}{% endblock bodyclass %}" ng-controller="bodyCtrl">
	<base href="/">
    {% block body_content %}
	{% endblock %}    
	
	<script type="text/ng-template" id="template/typeahead/typeahead.html">
	{% include "angularUI/typeahead/typeahead.html" %}
	</script>
</body> 

{% csrf_token %}

</html>




