<div id="footer" class="container">
    <div class="inner row">
        <div class="wrapper">
            <div class="left">
                <ul class="links">
                    <li class="link about"><a>About</a></li>
                    <li class="link terms"><a>Terms</a></li>
                    <li class="link feedback"><a>Feedback</a></li>
                    <li class="link contact"><a>Contact</a></li>
                </ul>
            </div>
            <div class="right">
                <div class="copy">&copy; 2013</div>
            </div>
        </div>
    </div>
</div>