<div class="lightboxPadding" style="width:{% block lightbox_width %}300px{% endblock lightbox_width %};">
    <div class="lightboxBorder">
        <div class="lightboxHeader">
            <div class="closeBtn" ng-click="close()"></div>
            <div class="title">{% block lightbox_title %}Start Conversation{% endblock lightbox_title %}</div>
        </div>
        <div class="lightboxBody">
        {% block lightbox_content %}
        	
        {% endblock lightbox_content %}
        </div>
    </div>
</div>        